.column_1 {
    width: 6%;
}
.column_2 {
    width: 38%;
}
.column_3 {
    width: 24%;
}

.column_4 {
    width: 6%;

}
.column_5 {
    width: 7%;
}

.column_6 {
    width: 5%;
}

.column_7 {
    width: 7%;
}
.column_8 {
    width: 7%;
}



