.column_1 {
    width: 7%;
}
.column_2 {
    width: 34%;
}
.column_3 {
    width: 22%;
}

.column_4 {
    width: 5%;
}
.column_5 {
    width: 9%;
}

.column_6 {
    width: 9%;
}

.column_7 {
    width: 7%;
}
.column_8 {
    width: 7%;
}

