<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" th:src="@{js/vue.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main_page.css}"/>



    <title>Пример</title>
</head>
<body>

<div id="root">

<input type="text" id="input" v-model="message">
    <p>The value of input is: {{message}}</p>

</div>

<div id="array">
<ul>
    <li v-for="name in namesArray" v-text="name"></li>
</ul>
    <input type="text" v-model="newName">
    <button v-on:click="onClick">Add name</button>
</div>



<script type="text/javascript" th:src="@{js/main.js}"></script>



</body>
</html>