.column_1 {
    width: 3%;
}

.column_2 {
    width: 4%;
}

.column_3 {
    width: 3%;
}

.column_4 {
    width: 20%;

}

.column_5 {
    width: 5%;
}

.column_6 {
    width: 5%;
}

.column_7 {
    width: 4%;
}

.column_8 {
    width: 3%;
}

.column_9 {
    width: 4%;
}

.column_10 {
    width: 4%;
}

.column_11 {
    width: 4%;
}

.column_12 {
    width: 4%;
}

.column_13 {
    width: 6%;
}

.column_14 {
    width: 15%;
}

.column_15 {
    width: 7%;
}

.column_16 {
    width: 9%;
}