.column_1 {
     width: 4.5%;

 }
.column_2 {
    width: 5.5%;

}
.column_3 {
    width: 25%;
}

.column_4 {
    width: 10%;

}
.column_5 {
    width: 9%;
}
.column_6 {
    width: 7%;
}
.column_7 {
    width: 5%;
}
.column_8 {
    width: 7%;
}
.column_9 {
    width: 7%;

}

.column_10 {
    width: 7%;
}

.column_11 {
    width: 7%;

}

.column_12 {
    width: 6%;
}